# This workflow builds and tests the project on pushes and pull requests to the main branch.
# It uses a Postgres service for integration tests and skips the CI if the commit message contains '[skip ci]'.
# The workflow result is reported in the Actions tab of the repository.
name: Main CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-test:
    name: Build & Test Server
    runs-on: ubuntu-latest
    if: "! contains(toJSON(github.event.commits.*.message), '[skip ci]')"
    strategy:
      matrix:
        java-version: [ 11, 17, 21, 22 ]

    services:
      postgres:
        image: postgres:17
        env:
          POSTGRES_USER: testuser
          POSTGRES_PASSWORD: testpassword
          POSTGRES_DB: defaultdb
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    steps:
      - name: Git checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 22 for ojp-server
        uses: actions/setup-java@v4
        with:
          java-version: 22
          distribution: 'temurin'
          cache: maven

      - name: Build (ojp-server)
        run: mvn clean install -DskipTests

      - name: Test (ojp-server)
        run: mvn test -pl ojp-server

      - name: Run (ojp-server)
        run: mvn verify -pl ojp-server -Prun-ojp-server > ojp-server.log 2>&1 &

      - name: Wait for ojp-server to start
        run: sleep 10

      - name: Set up JDK ${{ matrix.java-version }} for ojp-grpc-commons and ojp-jdbc-driver
        uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.java-version }}
          distribution: 'temurin'
          cache: maven

      - name: Build (ojp-grpc-commons, ojp-jdbc-driver)
        run: mvn clean install -pl ojp-grpc-commons,ojp-jdbc-driver -DskipTests

      - name: Test (ojp-grpc-commons, ojp-jdbc-driver)
        run: mvn test -pl ojp-grpc-commons,ojp-jdbc-driver